{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mithaqq</title>
  <link rel="stylesheet" href="{% static 'metheqq_root/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'metheqq_root/assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'metheqq_root/assets/css/glightbox.min.css' %}" />
  <link rel="stylesheet" href="{% static 'metheqq_root/slick/slick/slick.css' %}"/>
  <link rel="stylesheet" href="{% static 'metheqq_root/slick/slick/slick-theme.css' %}"/>
  <script src="{% static 'metheqq_root/assets/js/glightbox.min.js' %}"></script>
  <script src="{% static 'metheqq_root/assets/js/index.js' %}"></script>


  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 


  <style>
    .account-form input
    {
    border: 2px solid #ccc;
    height: calc(2em + .75rem + 2px);
  }

  .form-control {
    border: 2px solid #ccc;
  }

  .account-form input:focus {
    border-color: #1497ff;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
  }
  #cont{
    color: black;
      text-decoration: none;
      font-family: 'Lateef', cursive;
      font-weight: 700;
  }
    .sub{
        text-align: right !important;
    }
    #map {
      min-width: 300px;
      min-height: 232px;
      width: 100%;
      height: 69%;
    }

    .header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
        text-align: right !important;
    }
    .panel-body{
        text-align: right !important;
    }
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>
</head>
<body>
<!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 1 - THE NAVBAR SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////-->
<nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="{% static 'metheqq_root/images/IMG-20211223-WA0000.jpg' %}" alt="logo image">
        <a class="login">
          <i class="fa fa-shopping-cart">
          </i><span>تسوق</span>
        </a>
        <a href="{% url 'metheqq_root:cheekpage' %}" class="login">
          <i class="fas fa-user"></i>
          <span>الحساب</span>
        </a>
        <a class="login">
          <i class="fas fa-door-open"></i>
          <span> دخول </span>
        </a>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">الرئيسة</a></li>
          <li class="nav-item"><a class="nav-link" href="#services">من نحن</a></li>
          <li class="nav-item"><a class="nav-link" href="#testimonials">المدراء</a></li>
          <li class="nav-item"><a class="nav-link" href="#faq">خدماتنا</a></li>
          <li class="nav-item"><a class="nav-link" href="#portfolio">شركاتنا</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">اتصل بنا</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid" style="margin-top: 100px;background-color: #282424;">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5" style="width: 100%;text-align: right;" >
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7  mx-auto">

                <form class="account-form px-4 pt-4" method="post" enctype="multipart/form-data">

                    {% if user_form.is_valid and profile_form.is_valid  %}
                    <div class="alert alert-primary" role="alert">
                        بينات تم تحديثها بنجاح
                    </div>
                    <p class="small text-center pt-0">
                        <a href="{% url 'account:dashboard' %}">الرجوع للصفحة الشخصية</a>
                    </p>
                    {%else%}
                    <h3>غير بياناتك</h3>
                    <p>يمكن تغير بيناتك باستخدام الفورم </p>
                    {% endif %}

                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Error: ارجوك حاول مره اخري!
                    </div>
                    {% endif %}

                    {% csrf_token %}
                    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
                    {{ user_form.email }}
                    <label class="small font-weight-bold">{{ user_form.user_name.label}}</label>
                    {{ user_form.user_name }}
                    <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
                    {{ user_form.first_name }}
                    <label class="small font-weight-bold">{{ user_form.phone_number.label}}</label>
                    {{ user_form.phone_number }}
                    
                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"
                        value="Save changes">احفظ التغيرات</button>
                    <hr class="mb-3">
                </form>
                <form class="account-form px-4" action="{% url 'metheqq_root:delete_user' %}" method="post">
                    {% csrf_token %}
                    <p class=" h3 pt-4 font-weight-bold">احذف حسابك</p>
                    <p>هل انت متاكد من انك تريد حذف حسابك ؟</p>
                    <button type="submit" role="button"
                        class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">حذف</button>
                </form>

           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script  src="{% static 'metheqq_root/assets/vendors/js/glightbox.min.js' %}"></script>  
<script  src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script  src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script  src="{% static 'metheqq_root/slick/slick/slick.min.js' %}"></script>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbWzQbvTnAdhcRUr4wZa3BOfAnDjaQWWk&callback=initMap"async></script>


<script type="text/javascript">
      const lightbox = GLightbox({
        'touchNavigation': true,
        'href': 'https://mithaqq.herokuapp.com/static/metheqq_root/images/mithaqq.mp4',
        'type': 'video',
        'source': 'local', //vimeo, youtube or local
        'width': 900,
        'autoPlayVideos': 'true',
});




$(document).ready(function(){
  $('.youerclass').slick({
      dots: true,
      autoplay:true,
      centerMode: true,
      centerPadding: '60px',
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 3
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 1
          }
        }
      ]
  });

});

function videoUrl(hmmmmm){
  document.getElementById('vidslid').src = hmmmmm;
}
</script>
     <script src="{% static 'metheqq_root/assets/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html> 