{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mithaqq</title>
  <link rel="stylesheet" href="{% static 'metheqq_root/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'metheqq_root/assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'metheqq_root/assets/css/glightbox.min.css' %}" />
  <link rel="stylesheet" href="{% static 'metheqq_root/slick/slick/slick.css' %}"/>
  <link rel="stylesheet" href="{% static 'metheqq_root/slick/slick/slick-theme.css' %}"/>
  <script src="{% static 'metheqq_root/assets/js/glightbox.min.js' %}"></script>
  <script src="{% static 'metheqq_root/assets/js/index.js' %}"></script>


  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> 


  <style>
   
  
    .sub{
        text-align: right !important;
    }
    #map {
      min-width: 300px;
      min-height: 232px;
      width: 100%;
      height: 69%;
    }

    .header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
        text-align: right !important;
    }
    .panel-body{
        text-align: right !important;
    }
</style>
</head>
<body>
<!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 1 - THE NAVBAR SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////-->
<nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="{% static 'metheqq_root/images/IMG-20211223-WA0000.jpg' %}" alt="logo image">
        <a href="{% url 'metheqq_root:packects' %}" class="login">
          <i class="fa fa-shopping-cart">
          </i><span>تسوق</span>
        </a>
        <a href="{% url 'metheqq_root:dashboard' %}" class="login">
          <i class="fas fa-user"></i>
          <span>الحساب</span>
        </a>
        {% if user.is_authenticated %}
        <a class="login" href="{% url 'metheqq_root:logout' %}">
          <i class="fas fa-door-closed"></i>
          <span> خروج </span>   
        </a>
        {% else %}
        <a href="{% url 'metheqq_root:login' %}" class="login">
          <i class="fas fa-door-open"></i>
          <span> دخول </span>
        </a>
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">الرئيسة</a></li>
          <li class="nav-item"><a class="nav-link" href="#services">من نحن</a></li>
          <li class="nav-item"><a class="nav-link" href="#testimonials">المدراء</a></li>
          <li class="nav-item"><a class="nav-link" href="#faq">خدماتنا</a></li>
          <li class="nav-item"><a class="nav-link" href="#portfolio">شركاتنا</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">اتصل بنا</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                            START SECTION 2 - THE INTRO SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////////////-->

<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center text-white">
      <!-- START THE CONTENT FOR THE INTRO  -->
      <div class="col-md-6 intros text-start">
        <h1 class="display-2">
          <span class="display-2--intro">اهلا بــكم في ميثاق</span>
          <span class="display-2--description lh-base">
            تاسست شركة ميثاق لتطوير الأعمال القابضة عام 2016 برؤية واعدة وأفكار إستراتيجية تضمن النجاح الفردي و المؤسسي ، وفق معايير و أنظمة محددة وأهداف واضحة لصناعة وبناء رواد الأعمال ،في مختلف المجالات و التخصصات وتحقيق النجاح الفكري و المالي والاجتماعي وريادة عظمي في عالم المال و الأعمال </p>
          </span>
        </h1>
      </div>
      <!-- START THE CONTENT FOR THE VIDEO -->
      <div class="col-md-6 intros text-end">
        <div class="video-box">
          <img src="{% static 'metheqq_root/images/arts/intro-section-illustration1.jpg' %}" alt="video illutration" class="img-fluid">
          <a href="#" class="glightbox position-absolute top-50 start-50 translate-middle">
            <span>
              <i class="fas fa-play-circle"></i>
            </span>
            <span class="border-animation border-animation--border-1"></span>
            <span class="border-animation border-animation--border-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#201F1E" fill-opacity="1" d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</section>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////
                         START SECTION 4 - THE SERVICES  
///////////////////////////////////////////////////////////////////////////////////////////////////-->
<section id="services" class="services">
  <div class="container">
    <div class="row text-center">
      <h1 class="display-3 fw-bold">من نحن</h1>
      <div class="heading-line mb-1"></div>
    </div>
  <!-- START THE DESCRIPTION CONTENT  -->
    
  </div>

  <!-- START THE CONTENT FOR THE SERVICES  -->
  <div class="container">
    <!-- START THE MARKETING CONTENT  -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
        <div class="services__content">
          <div class="icon d-block fas fa-paper-plane"></div>
          <h3 class="display-3--title mt-1">الرسالة</h3>
          <p class="lh-lg">
            أن نكون أكبر تجمع لرواد الأعمال محلياً وعالمياً وصناعة قوة إقتصادية 
            اتكاملية أخلاقياً علمياً وعملياً لتحقيق الشمول الإقتصادي محلياً وعالماً
          </p>
          <button type="button" class="rounded-pill btn-rounded border-primary">أقرأ المزيد
            <span><i class="fas fa-arrow-left"></i></span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-end">
        <div class="services__pic">
          <img src="{% static 'metheqq_root/images/services/service-13.jpg' %}" alt="marketing illustration" class="img-fluid">
        </div>
      </div>
    </div>
    <!-- START THE WEB DEVELOPMENT CONTENT  -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
        <div class="services__content">
          <div class="icon d-block fas fa-eye"></div>
          <h3 class="display-3--title mt-1"> رؤيتـنا</h3>
          <p class="lh-lg">
            ثقة دائمة التوسع.. تعمل في تطوير لا حدود له.. تكامل في التكوين
            ريادة في التنمية والتطوير </br> سخرها االله سبحانه وتعالى لتساعد الناس في
            حياتهم بينما يساعدون غيرهم ليكونوا الأفضل 
          </p>
          <button type="button" class="rounded-pill btn-rounded border-primary">أقرأ المزيد
            <span><i class="fas fa-arrow-left"></i></span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-start">
        <div class="services__pic">
          <img src="{% static 'metheqq_root/images/services/service-1.jpg'%}" alt="web development illustration" class="img-fluid">
        </div>
      </div>
    </div>
    <!-- START THE CLOUD HOSTING CONTENT  -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
        <div class="services__content">
          <div class="icon d-block fab fa-rust"></div>
          <h3 class="display-3--title mt-1">قٍيمُـنا</h3>
          <p class="lh-lg">
            ( ثـقـة دائـمة ) </br>
            ( ننمي فرداً..نبني مجتمعاً.. نحيي أمة )
          </p>
          <button type="button" class="rounded-pill btn-rounded border-primary">أقرأ المزيد
            <span><i class="fas fa-arrow-left"></i></span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-end">
        <div class="services__pic">
          <img src="{% static 'metheqq_root/images/services/service-12.jpg' %}" alt="cloud hosting illustration" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 5 - THE TESTIMONIALS  
/////////////////////////////////////////////////////////////////////////////////////////////////////-->
<section id="testimonials" class="testimonials">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#201F1E" fill-opacity="1" d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
  <div class="container">
    <div class="row text-center text-white">
      <h1 class="display-3 fw-bold">فريـــق العــــمل</h1>
      <hr style="width: 100px; height: 3px; " class="mx-auto">
    </div>

    <!-- START THE CAROUSEL CONTENT  -->
    <div class="row align-items-center">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- CAROUSEL ITEM 1 -->
          
          {% for info in mange  %}
            
          
            
          <div class="carousel-item item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}" >
            <!-- testimonials card  -->
            <div class="testimonials__card">
              <p class="lh-lg">
                <i class="fas fa-quote-left"></i>
                {{ info.word }}
                <i class="fas fa-quote-right"></i>
                <div class="ratings p-1">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </p>
            </div>
            <!-- client picture  -->
            <div class="testimonials__picture">
              <img src="{{ info.iamge.url }}" alt="client-1 picture" class="rounded-circle img-fluid">
            </div>
            <!-- client name & role  -->
            <div class="testimonials__name">
              <h3>{{ info.name }}</h3>
              <p class="fw-light">{{ info.postion }}</p>
            </div>
          </div> 

          {% endfor %}

          <!-- CAROUSEL ITEM 2 -->
     
          <!-- CAROUSEL ITEM 3 -->
          
          <!-- CAROUSEL ITEM 4 -->  
        </div>
        <div class="text-center">
          <button class="btn btn-outline-light fas fa-long-arrow-alt-left" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        </button>
        <button class="btn btn-outline-light fas fa-long-arrow-alt-right" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        </button>
        </div>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#201F1E" fill-opacity="1" d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</section>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                       START SECTION 6 - THE FAQ 
//////////////////////////////////////////////////////////////////////////////////////////////////////-->
<section id="faq" class="faq">
  <div class="container">
    <div class="row text-center">
      <h1 class="display-3 fw-bold text-uppercase">مجالات عمل الشركة</h1>
      <div class="heading-line"></div>
      <p class="lead">الأسئلة المتداولة ، احصل على المعرفة </p>
    </div>
    <!-- ACCORDION CONTENT  -->
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="accordion" id="accordionExample">
          <!-- ACCORDION ITEM 1 -->
          <div class="accordion-item shadow mb-3">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 ما هو التطوير الإستثماري ؟
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>  التطوير الإستثماري </strong>  حرصاً منا على تطوير الإستثمار والمساعدة على التشجيع والإبتكار وثقة في تطوير ريادة
                الأعمال والإستثمار الأمثل للطاقات الفكرية قدمنا أقوى وأفضل المشاريع والخطط والبرامج
                والأنظمة الإدارية والمالية والتسويقية لإيجاد وزيادة وتنويع مصادر الدخل عبر الشراكات
               الإستراتيجية الذكية وتوفير الفرص الإستثمارية 
              </div>
            </div>
          </div>
             <!-- ACCORDION ITEM 2 -->
          <div class="accordion-item shadow mb-3">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ماهو  التطوير الإقتصادي ؟
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong> التطوير الإقتصادي</strong>  نسعى بكل أمكانياتنا لتطوير الإقتصاد والمساهمة في تحقيق تكامل إجتماعي محلي
                وعالمي بتقديم خدمات مبتكرة و متطورة وتوفير الإحتياجات بطرق إستراتيجية عبر
               الأنظمة الذكية 
              </div>
            </div>
          </div>
             <!-- ACCORDION ITEM 3 -->
          <div class="accordion-item shadow mb-3">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ماهو التطوير البيئي ؟
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>التطوير البيئي</strong>  وحرصاً منا على صحة عملائنا وخلق بيئة صحية سليمة قدمنا خدمات صحيةووقائية تساعد
                في الحفاظ على أسلوب حياة سليم ومنظم 
              </div>
            </div>
          </div>
             <!-- ACCORDION ITEM 4 -->
          <div class="accordion-item shadow mb-3">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ماهو التطوير الإداري ؟
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>التطوير الإداري</strong>  إيماناً منا بضرورة الإرتقاء بالأداء الفردي والمؤسسي قدمنا خدمات وأنظمة تطويرية في
                المجالات الإدارية والقيادية والتقنية .
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
                              START SECTION 7 - THE PORTFOLIO  
//////////////////////////////////////////////////////////////////////////////////////////////////////-->

<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row text-center mt-5"> 
      <h1 class="display-3 fw-bold text-capitalize">شركاتنــــــــــا</h1>
      <div class="heading-line"></div>
    </div>

    <!-- START THE PORTFOLIO ITEMS  -->
    <div class="row youerclass">
      <div class="col-lg-6 col-md-6">
        <div class="portfolio-box shadow">
          <img src="{% static 'metheqq_root/images/portfolio/portfolio-1.jpg' %}" alt="portfolio 1 image" title="portfolio 1 picture" class="img-fluid">
          <div class="portfolio-info">
            <div class="caption">
              <h4>ميثاق نايــــــل</h4>
              <a href="{% url  'home:home' %}">أذهب للموقـــــــــــــع</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="portfolio-box shadow">
          <img src="{% static 'metheqq_root/images/portfolio/portfolio-2.jpg' %}" alt="portfolio 2 image" title="portfolio 2 picture" class="img-fluid">
          <div class="portfolio-info">
            <div class="caption">
              <h4>project name goes here 2</h4>
              <p>category project</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="portfolio-box shadow">
          <img src="{% static 'metheqq_root/images/portfolio/portfolio-3.jpg' %}" alt="portfolio 3 image" title="portfolio 3 picture" class="img-fluid">
          <div class="portfolio-info">
            <div class="caption">
              <h4>project name goes here 3</h4>
              <p>category project</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="portfolio-box shadow">
          <img src="{% static 'metheqq_root/images/portfolio/portfolio-4.jpg' %}" alt="portfolio 4 image" title="portfolio 4 picture" class="img-fluid">
          <div class="portfolio-info">
            <div class="caption">
              <h4>project name goes here 4</h4>
              <p>category project</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="portfolio-box shadow">
          <img src="{% static 'metheqq_root/images/portfolio/portfolio-5.jpg' %}" alt="portfolio 4 image" title="portfolio 4 picture" class="img-fluid">
          <div class="portfolio-info">
            <div class="caption">
              <h4>project name goes here 4</h4>
              <p>category project</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="portfolio-box shadow">
          <img src="{% static 'metheqq_root/images/portfolio/portfolio-6.jpg' %}" alt="portfolio 6 image" title="portfolio 6 picture" class="img-fluid">
          <div class="portfolio-info">
            <div class="caption">
              <h4>project name goes here 6</h4>
              <p>category project</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="portfolio-box shadow">
          <img src="{% static 'metheqq_root/images/portfolio/portfolio-7.jpg' %}" alt="portfolio 7 image" title="portfolio 7 picture" class="img-fluid">
          <div class="portfolio-info">
            <div class="caption">
              <h4>project name goes here 7</h4>
              <p>category project</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="portfolio-box shadow">
          <img src="{% static 'metheqq_root/images/portfolio/portfolio-8.jpg' %}" alt="portfolio 8 image" title="portfolio 8 picture" class="img-fluid">
          <div class="portfolio-info">
            <div class="caption">
              <h4>project name goes here 8</h4>
              <p>category project</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="portfolio-box shadow">
          <img src="{% static 'metheqq_root/images/portfolio/portfolio-9.jpg' %}" alt="portfolio 8 image" title="portfolio 8 picture" class="img-fluid">
          <div class="portfolio-info">
            <div class="caption">
              <h4>project name goes here 8</h4>
              <p>category project</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-facts" style="font-family:'Lateef', cursive !important; ;">
  <div class="container">
   
    <div class="row">
      <div class="col-lg-6">
        <div class="row " style="text-align: center;">
          <div class="col-lg-12">
            <h2 style="color: #ffcb00; ">اخبارنـــــــــــــا</h2>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-12">
                <div class="count-area-content percentage">
                  <div class="count-digit">94</div>
                  <div class="count-title"> نسبة الزياره</div>
                </div>
              </div>
              <div class="col-12">
                <div class="count-area-content">
                  <div class="count-digit">126</div>
                  <div class="count-title">المتابعين</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-12">
                <div class="count-area-content new-students">
                  <div class="count-digit">2345</div>
                  <div class="count-title">عدد الزوار </div>
                </div>
              </div> 
              <div class="col-12">
                <div class="count-area-content">
                  <div class="count-digit">32</div>
                  <div class="count-title">عملاء راضين عن الخدمة</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-12">
            <h2 style="color: #ffcb00; text-align: center;">قالو عنــــــــــــا</h2>
          </div>
          <div class="col-12">
        <div style="padding-top: 50px;" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- CAROUSEL ITEM 1 -->
            
            {% for info in mange  %}
              
            
              
            <div class="carousel-item item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}" >
              <!-- testimonials card  -->
              <div class="testimonials__card" style="background-color: #ffcb00 !important;">
                <p class="lh-lg">
                  <i class="fas fa-quote-left"></i>
                  {{ info.word }}
                  <i class="fas fa-quote-right"></i>
                  <div class="ratings p-1">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </p>
              </div>
              <!-- client name & role  -->
              <div class="testimonials__name">
                <h3 style="color: #212121;">{{ info.name }}</h3>
              </div>
            </div> 
  
            {% endfor %}
          </div>
            <!-- CAROUSEL ITEM 2 -->
       
            <!-- CAROUSEL ITEM 3 -->
            
            <!-- CAROUSEL ITEM 4 -->  
          </div>
        </div>
        </div>
      </div> 
    </div>
  </div>
</section>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////
              START SECTION 8 - GET STARTED  
/////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!-- ///////////////////////////////////////////////////////////////////////////////////////////
                           START SECTION 9 - THE FOOTER  
///////////////////////////////////////////////////////////////////////////////////////////////-->
<footer class="footer">
  <div class="container">
    <div class="row abdo">
      <!-- CONTENT FOR THE MOBILE NUMBER  -->
      <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
        <div class="contact-box__icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
            <path d="M15 7a2 2 0 0 1 2 2" />
            <path d="M15 3a6 6 0 0 1 6 6" />
          </svg>
        </div>
        <div class="contact-box__info">
          <a href="#" class="contact-box__info--title">+249911095201</a>
          <p class="contact-box__info--subtitle">  Mon-Fri 9am-6pm</p>
        </div>
      </div>  
      <!-- CONTENT FOR EMAIL  -->
      <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
        <div class="contact-box__icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-opened" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <polyline points="3 9 12 15 21 9 12 3 3 9" />
            <path d="M21 9v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10" />
            <line x1="3" y1="19" x2="9" y2="13" />
            <line x1="15" y1="13" x2="21" y2="19" />
          </svg>
        </div>
        <div class="contact-box__info">
          <a href="#" class="contact-box__info--title">mithaqqcompany@gmail.com</a>
          <p class="contact-box__info--subtitle">Online support</p>
        </div>
      </div>
      <!-- CONTENT FOR LOCATION  -->
      <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
        <div class="contact-box__icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-2" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="18" y1="6" x2="18" y2="6.01" />
            <path d="M18 13l-3.5 -5a4 4 0 1 1 7 0l-3.5 5" />
            <polyline points="10.5 4.75 9 4 3 7 3 20 9 17 15 20 21 17 21 15" />
            <line x1="9" y1="4" x2="9" y2="17" />
            <line x1="15" y1="15" x2="15" y2="20" />
          </svg>
        </div>
        <div class="contact-box__info">
          <a href="#" class="contact-box__info--title">Sudan SD</a>
          <p class="contact-box__info--subtitle">kh 10012, US</p>
        </div>
      </div>
    </div>
  </div>

  <!-- START THE SOCIAL MEDIA CONTENT  -->
  <div class="footer-sm" style="background-color: #212121;">
    <div class="container dir">
      <div class="row py-4 text-center text-white">
        <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
         تواصـــــــــــــل معنا على مواقع التواصل الاجتماعي
        </div>
        <div class="col-lg-7 col-md-6">
          <a href="https://m.facebook.com/%D8%B4%D8%B1%D9%83%D8%A9-%D9%85%D9%8A%D8%AB%D8%A7%D9%82-%D9%84%D8%AA%D8%B7%D9%88%D9%8A%D8%B1-%D8%A7%D9%84%D8%A3%D8%B9%D9%85%D8%A7%D9%84-317149382335248/"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="https://t.me/MITHAQQFORBUSSNESSDEVELOPMENT"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- START THE CONTENT FOR THE CAMPANY INFO -->
  <div class="container mt-5">
    <div class="row text-white justify-content-center mt-3 pb-3">
      <div class="col-12 col-sm-6 col-lg-6 mx-auto" style="direction: rtl;">
        <h5 class="text-capitalize fw-bold">موقعنــــــــــــــــــنا علي الخريطه</h5>
        <hr class="bg-white d-inline-block mb-4" style="width: 60px; height: 2px;">
        <div id="map"></div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 mx-auto" style="direction: rtl;">
      <div class="row">
        <div class="col-12">
          <div class="form w-100 pb-2" style="direction: rtl; text-align: right;">
            <h4 class="display-3--title mb-5">اترك تعليق</h4>
            <form action="#" class="row" id="comment-form">
              <div class="col-lg-6 col-md mb-3">
                <input type="text" placeholder=" اسمك الاول" id="inputFirstName" class="shadow form-control form-control-lg">
              </div>
              <div class="col-lg-6 col-md mb-3">
                <input type="text" placeholder=" اسمك الثاني" id="inputLastName" class="shadow form-control form-control-lg">
              </div>
              <div class="col-lg-12 mb-3">
                <input type="email" placeholder=" عنوان البريد" id="inputEmail" class="shadow form-control form-control-lg">
              </div>
              <div class="col-lg-12 mb-3">
                <textarea name="message" placeholder="التعليق" id="message" rows="8" class="shadow form-control form-control-lg"></textarea>
              </div>
              <div class="text-center d-grid mt-1">
                <button type="button" class="btn btn-primary rounded-pill pt-3 pb-3">
                  ارسال
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </form>
       </div>
      </div>
      <div class="col-12">
        <div class="row text-center">
          <h4 class="fw-bold lead mb-3">شركاؤنــــــــــــأ</h4>
          <div class="heading-line mb-5"></div>
        </div>
      </div>
      <!-- START THE CAMPANIES CONTENT  -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-2">
            <div class="campanies__logo-box shadow-sm">
              <img src="{% static 'metheqq_root/images/campanies/campany-1.jpg' %}" alt="Campany 1 logo" title="Campany 1 Logo" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="campanies__logo-box shadow-sm">
              <img src="{% static 'metheqq_root/images/campanies/campany-2.jpg' %}" alt="Campany 2 logo" title="Campany 2 Logo" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="campanies__logo-box shadow-sm">
              <img src="{% static 'metheqq_root/images/campanies/campany-3.png' %}" alt="Campany 3 logo" title="Campany 3 Logo" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="campanies__logo-box shadow-sm">
              <img src="{% static 'metheqq_root/images/campanies/campany-4.jpg' %}" alt="Campany 4 logo" title="Campany 4 Logo" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="campanies__logo-box shadow-sm">
              <img src="{% static 'metheqq_root/images/campanies/campany-5.jpg' %}" alt="Campany 5 logo" title="Campany 5 Logo" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="campanies__logo-box shadow-sm">
              <img src="{% static 'metheqq_root/images/campanies/campany-6.jpg' %}" alt="Campany 6 logo" title="Campany 6 Logo" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>

  <!-- START THE COPYRIGHT INFO  -->
  <div class="footer-bottom pt-5 pb-5">
    <div class="container">
      <div class="row text-center text-white">
        <div class="col-12">
          <div class="footer-bottom__copyright">
            &COPY; Copyright 2021 <a href="#">Company</a> | Created by <a href="http://codewithpatrick.com" target="_blank">ِِAbdalla</a><br><br>

            Distributed by <a href="http://themewagon.com" target="_blank">إنوفيشــــــن</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- BACK TO TOP BUTTON  -->
<a href="#" class="shadow btn-primary rounded-circle back-to-top">
  <i class="fas fa-chevron-up"></i>
</a>



    
<script  src="{% static 'metheqq_root/assets/vendors/js/glightbox.min.js' %}"></script>  
<script  src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script  src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script  src="{% static 'metheqq_root/slick/slick/slick.min.js' %}"></script>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbWzQbvTnAdhcRUr4wZa3BOfAnDjaQWWk&callback=initMap"async></script>


<script type="text/javascript">
      const lightbox = GLightbox({
        'touchNavigation': true,
        'href': 'https://mithaqq.herokuapp.com/static/metheqq_root/images/mithaqq.mp4',
        'type': 'video',
        'source': 'local', //vimeo, youtube or local
        'width': 900,
        'autoPlayVideos': 'true',
});

$(document).ready(function(){
  $('.youerclass').slick({
      dots: true,
      autoplay:true,
      centerMode: true,
      centerPadding: '60px',
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 3
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 1
          }
        }
      ]
  });

});

function videoUrl(hmmmmm){
  document.getElementById('vidslid').src = hmmmmm;
}

    </script>
     <script src="{% static 'metheqq_root/assets/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html> 